{% extends "base.html" %}

{% block title %}
	{{ company }}
{% endblock %}

{% block jumbo %}
	{{ company }}
{% endblock %}

{% block description %}
	Details of {{ company }}
{% endblock %}

{% block content %}
	<div class="container">
		<table class="table table-reflow table-bordered table-striped">
			<tbody>
				<tr>
					<th scope="row">Category(s)</th>
					<td>
						{% include "table-data.html" with data=categories target='category' %}
					</td>
				</tr>
				{% if company.domain_for_company %}
					<tr>
						<th scope="row">Domain Name</th>
						<td>
							<ul>
								<li>
									<a href="http://www.{{company.domain_for_company}}" target=_blank>
										{{company.domain_for_company}}
									</a>
								</li>
							</ul>
					</td>
				</tr>
				{% endif %}
				{% if positions %}
					<tr>
						<th scope="row">Position(s)</th>
						<td>
							{% include "table-data.html" with data=positions target='position' %}
						</td>
					</tr>
				{% endif %}
				{% if persons %}
					<tr>
						<th scope="row">Person(s)</th>
						<td>
							{% include "table-data.html" with data=persons target='person' %}
						</td>
					</tr>
				{% endif %}
				<tr>
					<th scope="row">Address(s)</th>
					<td>
						{% include "table-data.html" with data=addresses target='address' %}
					</td>
				</tr>
			</tbody>
		</table>
		<div class="form-group">&nbsp;</div>
	</div><!--container-->
{% endblock %}

{% block back %}
	{% include "back-link.html" with target='../..' %}
{% endblock %}
