{% extends "base.html" %}

{% block title %}
	{{position}}
{% endblock %}

{% block jumbo %}
	{{position}}
{% endblock %}

{% block description %}
	Details of {{position}}
{% endblock %}

{% block content %}
	<div class="container">
		<table class="table table-reflow table-bordered table-striped">
			<tbody>
				
				<tr>
					<th scope="row">Company</th>
					<td>
						<ul>
							<li>
							<a href="../../company/{{position.position_of_company.id}}/">
								{{position.position_of_company}}
							</a>
							</li>
						</ul>						
					</td>
				</tr>
				
				{% if landlines %}
					<tr>
						<th scope="row">Landline Number(s)</th>
						<td>
							<ul>
								{% for landline in landlines %}
									<li>{{landline}}{{landline.is_landline_for_fax}}</li>
								{% endfor %}
							</ul>
						</td>
					</tr>
				{% endif %}
				
				{% if persons %}
					<tr>
						<th scope="row">Person(s)</th>
						<td>
							{% include "table-data.html" with data=persons target='person' %}
						</td>
					</tr>
				{% endif %}
				
				{% if emails %}
					<tr>
						<th scope="row">Email(s)</th>
						<td>
							{% include "td-nolink.html" with data=emails %}
						</td>
					</tr>
				{% endif %}
				
			</tbody>
		</table>
	</div><!--container-->
{% endblock %}

{% block back %}
	{% include "back-link.html" with target='../..' %}
{% endblock %}

